debug
*.exe
*.bin
*.dat
debug
work/.parallelcoin
seeder/seeder
client/client
work/.bash_history
duod.conf
.bash_history
parallelcoind/work/blocks/index/*
parallelcoind/work/chainstate/*
parallelcoind/work/*
!parallelcoin.conf
